### SQL Query

**Grade Table**
Grades           Marks
A+               90
A                80
B                70
C                60 


**Student**

RollNo   Name    Marks
1       Nitin     86
2       Pranshu   78 
3       Rohan     64 
4       Vijay     68
5       Divya     72
5       Sonam     99

In [ ]:
# Need to know the grade in respect to Marks Column
# Output should be in these columns==>                  Name     Marks    Grades

In [ ]:
# Ans need to do

### Next Qus

**Std table**
Stid     Active     Score     Class
1         No         50         1
2         Yes        60         1
1         Yes        40         2
2         Yes        30         2
3         No         10         2
4         Yes        20         2



Output- 
Class    TotalScore
1            60
2            90

In [1]:
# Let's first do this by pandas
import pandas as pd

d={'Stid':[1,2,1,2,3,4], 'Active':['No', 'Yes', 'Yes', 'Yes', 'No' ,'Yes'], 'Score':[50,60,40,30,10,20], 'Class':[1,1,2,2,2,2]}

df=pd.DataFrame(d)

In [2]:
df.head()

   Stid Active  Score  Class
0     1     No     50      1
1     2    Yes     60      1
2     1    Yes     40      2
3     2    Yes     30      2
4     3     No     10      2

In [5]:
df[df.Active=='Yes'].groupby(['Class', 'Active'])['Score'].agg(sum)

Class  Active
1      Yes       60
2      Yes       90
Name: Score, dtype: int64

In [ ]:
# By SQL

In [ ]:
# Indexing in SQL:
It's provides a quick look up of data 
Index can't be duplicate 

If there is no index on any column in the Where clause, then SQL need to go throgh the entire table and 
check each and every row tofind matches, which might result in slow operation for big data set