# Palindrome

In [2]:
#s="Shubham"
s="nitin"
if s==s[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [7]:
#Another way
s="Nitin"
temp=s
ans=""
while len(s)!=0:
    d=s[-1]
    s=s[:-1]
    ans+=d
    
if temp==ans:
    print("Palindrome")
else:
    print("Not Palindrome")

Not Palindrome

In [3]:
# If no is given

n=1223
temp=n
ans=0
while n!=0:
    d=n%10
    ans= ans*10+d
    n=n//10
print(ans)

3221

In [5]:
#fibonacci series

n=8

a,b=0,1

print(a,b,end=' ')
for i in range(8):
    print(a+b, end=' ')
    a,b=b,a+b

0 1 1 2 3 5 8 13 21 34

In [1]:
# By Recursion

def fib(n):
    if n<=1:
        return n
    else:
        return (fib(n-1)+fib(n-2))

n=10
if n<0:
    print("Invalid Input")
else:
    for i in range(n):
        print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [2]:
# compress string=>  AABBCC=> A2B2C2
# Exp- aabbccaaaafffeiii=> a2b2c2a4f3e1i3

s="aabbccaaaafffeiii"
total=1
ans=""

for i in range(1,len(s)):
    if s[i]==s[i-1]:
        total+=1
    else:
        ans+=s[i-1]+str(total)
        total=1
ans+=s[i-1]+str(total)
print(ans)

a2b2c2a4f3e1i3

In [8]:
#By using while

s="aabbccaaaafffeiii"
total=1
ans=""

i=1

while i<len(s):
    if s[i]==s[i-1]:
        total+=1
    else:
        ans+=s[i-1]+str(total)
        total=1
    i=i+1
ans+=s[i-1]+str(total)
print(ans)

a2b2c2a4f3e1i3

## Fizbuzz problem

if divided by 3- Fizz
              5- Buzz
by both 3 and 5- Fizzbuzz



Given a range,print no like this
1-1
2-2
3-Fizz
4-4
5-Buzz

--
--

In [12]:
def fizbuzz(n):
    for i in range(1,n+1,1):
        if i%3==0 and i%5==0:
            print(f"{i}- FizzBuzz")
        elif i%3==0:
            print(f"{i}- Fizz")
        elif i%5==0:
            print(f"{i}- Buzz")
        else:
            print(f"{i}- {i}")
            
            
fizbuzz(17)

1- 1
2- 2
3- Fizz
4- 4
5- Buzz
6- Fizz
7- 7
8- 8
9- Fizz
10- Buzz
11- 11
12- Fizz
13- 13
14- 14
15- FizzBuzz
16- 16
17- 17

In [13]:
# Now By using dict
d={}

def fizbuzz(n):
    for i in range(1,n+1,1):
        if i%3==0 and i%5==0:
            d[i]="Fizzbuzz"
        elif i%3==0:
            d[i]="Fizz"
        elif i%5==0:
            d[i]="Buzz"
        else:
            d[i]=i
    print(d)      
            
            
fizbuzz(17)

{1: 1, 2: 2, 3: 'Fizz', 4: 4, 5: 'Buzz', 6: 'Fizz', 7: 7, 8: 8, 9: 'Fizz', 10: 'Buzz', 11: 11, 12: 'Fizz', 13: 13, 14: 14, 15: 'Fizzbuzz', 16: 16, 17: 17}

## Character Occurance

Least repeating character in a string
count of any particular element
count of all elements

In [3]:


def least_chr_occurance(s):
    d={}
    for i in s:
        if i in d:
            d[i]=d[i]+1
        else:
            d[i]=1
    return d
d= least_chr_occurance("aaabbbhhhshhhhhssssjjijsjshdk")
print(d)


# To get min value
ans= min(d, key=d.get)

ans

{'a': 3, 'b': 3, 'h': 9, 's': 7, 'j': 4, 'i': 1, 'd': 1, 'k': 1}

'i'

In [26]:
#using inbulid method counter
s='aaabbbhhhshhhhhssssjjijsjshdk'
from collections import Counter
d=Counter(s)
print("D is: ",d)
ans=min(d, key=d.get)
print("Ans is : ",ans)

D is:  Counter({'h': 9, 's': 7, 'j': 4, 'a': 3, 'b': 3, 'i': 1, 'd': 1, 'k': 1})
Ans is :  i

## Prime number

In [2]:
# check is it prime no or not

n=int(input("Enter the Number: "))
f=0
for i in range(2, n//2 +1):
    if n%i==0:
        f=1
        break
if f==0:
    print(f"Given No {n} is a Prime Number")
else:
    print(f"Given No {n} is not prime")

Enter the Number: 4
Given No 4 is not prime

In [1]:
# With in range all prime numbers


a=3
b=50
ans=[]
for i in range(a,b+1,1):
    f=0
    for j in range(2,i//2 +1, 1):
        if i%j==0:
            f=1
            break
    if f==0:
        ans.append(i)
print(ans)

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## Shift all zero to the left side of the list without using a new list- Vision IS Company




l=[1,0,1,0,1,0,1,0]

Output: [0, 0, 0, 0, 1, 1, 1, 1]

In [3]:
l=[1,0,1,0,1,0,1,0]

c=0
for i in range(len(l)):
    if l[i]==1:
        l[i]=0
        c+=1
for i in range(1,c+1):
    l[-i]=1
    
l

[0, 0, 0, 0, 1, 1, 1, 1]

## Next Qus - Vision IS Company

Given an unsorted array arr[] of size N. Rotate the array to the left (counter-clockwise direction) by D steps,
where D is a positive integer.
Input:
N = 5, D = 2
arr[] = {1,2,3,4,5}
Output: 3 4 5 1 2
Explanation: 1 2 3 4 5  when rotated by 2 elements, it becomes 3 4 5 1 2

In [10]:
l=[1,2,3,4,5]
d=2
for i in range(d):
    temp=l.pop(0)
    l.append(temp)
l

[3, 4, 5, 1, 2]

## Generator Example- Vision IS Company

In [13]:
def sqr(l):
    for i in l:
        yield i*i

l=[1,2,3]
ans=sqr(l)
print(next(ans))
print(next(ans))
print(next(ans))
#print(next(ans))

1
4
9

In [ ]:
# 2nd highest salary -Vision IS Company

In SQL
select ID,Name from emp order by Salary desc limit 2,1


In ORM:

## WNS Company



Statement: Remove smallest n and largest m no of items from the array and return the updated array
remove_items(array, n, m) {
}
array = [ 3,5,79,2,23,18,9,23,45,3,5,45,95]
n = 2
m = 3
output = [5,23,18,9,23 ,3,5,45]

In [22]:
l = [ 3,5,79,2,23,18,9,23,45,3,5,45,95]
n = 2
m = 3
temp=sorted(list(set(l)))
small= temp[0:2]
large=temp[-3:]
ans=[]
for i in l:
    if i in small:
        small.remove(i)
    elif i in large:
        large.remove(i)
    else:
        ans.append(i)
ans

[5, 23, 18, 9, 23, 3, 5, 45]

## Next Qus

You are required to write a function where an integers’ array, Input, is given. 
The function returns an array, Output. The elements of this array, 
Output, are the product of all the elements of array, Input, except the ith position element Input[i]. 
Sample Input – [2,5,3,8,10] 
Output – [1200, 480, 800, 300, 240].

In [24]:
#Simple way

#l=[2,5,3,8,10]
l=[1,2,3,4,5]
ans=[]
for i in range(len(l)):
    mul=1
    for j in range(0, len(l)):
        if j!=i:
            mul*=l[j]
    ans.append(mul)
ans

[120, 60, 40, 30, 24]

In [27]:
# More Optimize way without using nested loop

l=[2,5,3,8,10]
mul=1
for i in l:
    mul*=i
ans=[]    
for i in l:
    ans.append(mul//i)
ans

[1200, 480, 800, 300, 240]

## Accolite Company

Pattern
     *
    *#
   *#* 
  *#*#

In [35]:
n=4
for i in range(n):
    print(' '*(n-(i+1)), end="")
    a=1
    for j in range(i+1, 0, -1):
        if a%2!=0:
            print('*',end='')
        else:
            print('#',end='')
        a=a+1    
    print()

   *
  *#
 *#*
*#*#

l= ["2345", "ab", "x", "456"]
Display in ascending order based on their length

In [1]:
l= ["2345", "ab", "x", "456"]

for i in range(1,len(l)):
    for j in range(i-1, -1, -1):
        if len(l[i])<len(l[j]):
            l[i], l[j]= l[j], l[i]
            i=i-1
l

['x', 'ab', '456', '2345']